/* Center align the text in the App component */
.App {
  text-align: center;
}

/* Set the height and disable pointer events for the App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* If the user does not prefer reduced motion, spin the App logo infinitely for 20 seconds using linear timing function */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style the header of the App component */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style the link in the App component */
.App-link {
  color: #61dafb;
}

/* Define the animation for spinning the App logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Set the App component to be a flex container with a column direction and minimum height of 100vh */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Position the footer at the bottom of the page and style it */
footer {
  margin-top: auto;
}

/* Add padding and a slightly darker background color to a section */
.App {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

/* Add padding, a slightly darker background color, and reduce the padding-top to a section */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05); /* slightly darker background color */
  display: flex;
  align-items: center; /* center the elements inside the footer */
  justify-content: center; /* center the elements inside the footer */
  text-align: center; /* center the text inside the footer */
}

/* Add padding and a slightly darker background color to a section */
.padd {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.01); /* slightly darker background color */
  padding-top: 3rem;
  padding-bottom: 3rem;

}

/* Add padding, a slightly darker background color, and reduce the padding-top to a section */
.padd_small {
  background-color: rgba(253, 253, 253, 0.01); /* slightly darker background color */
  padding-top: 1rem;
}


.profile-image {
  width: 100%;
  height: 100%;
}


.about-me {
  white-space: pre-line;
}

.experience-list {
  white-space: pre-line;
}

.education-list {
  white-space: pre-line;
}

.work-list{
  white-space: pre-line;
}

.volunteering-list{
  white-space: pre-line;
}

.courses-list{
  white-space: pre-line;
}

.projects-list{
  white-space: pre-line;
}

.awards-list{
  white-space: pre-line;
}

.languages-list{
  white-space: pre-line;
}

/* Set the width and height of an image box */
.img_box {
  width: 10rem;
  height:  10rem;
  background-color: rgba(255, 255, 255, 0.01); /* slightly darker background color */
  padding-top: 3rem;
}

/* Add a slightly darker background color to a section */
.darker {
  background-color: rgba(0, 0, 0, 0.01); /* slightly darker background color */
}

/* Add a slightly darker background color and padding to a section */
.btns {
  background-color: rgba(255, 255, 255, 0.01); /* slightly darker background color */
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-width: 6rem;
}

/* Add padding-bottom to a section */
.pad_down{
  padding-bottom: 3rem;
}

/* Limit the maximum width of an element */
.limit_width {
  max-width: 30rem;
}


.alertLogin {
  min-width: 50vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.align_center {
  text-align: center;
  display: inline-flex !important;
}

.common-width {
  min-width: 50vw !important;
}

.restrict-height {
  max-height: 5rem !important;
  margin-left: 1rem;
}

.tiny {
  font-size: 0.75rem;
}

.profile-button {
  background-color: #3D13C6;
  color: white; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  margin-right: 10px
}

#create-post-button {
  background-color: #3D13C6;
  color: white; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  margin-right: 10px
}

.profile-main-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.profile-card {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1rem;
}


.img_profile {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 100%;
}