/*
* @organization: Console Art Cybernetic
* @project: Tiktok Chat Simulation
* @platform: PC (DESKTOP)
* @created: 2022-09-15
* @updated: 2022-09-19
* @framework: React
* @author: Obrymec
* @version: 0.4.6
*/

body {
  background-color: #485c9c !important;
}

path.settings {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 32px;
  stroke: #000;
  fill: none; }

div.chat-workspace {
  position: fixed;
  z-index: 0;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0; }
  div.chat-workspace div.chat-container {
    justify-content: center;
    display: inline-flex;
    width: 100%;
    height: 95%;
    gap: 14px; }
    div.chat-workspace div.chat-container div.left-arrow {
      background-color: #eee;
      justify-content: center;
      border-radius: 40px;
      align-items: center;
      margin-left: -4%;
      cursor: pointer;
      display: flex;
      height: 40px;
      width: 40px; }
    div.chat-workspace div.chat-container div.messages-workspace {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 6px #ddd;
      background-color: #fff;
      border-radius: 8px;
      width: 52%; }



      .chat-container{
        padding-top: 2rem !important;
        padding-bottom: 4rem !important;
      }
      /* Media query for mobile devices */
      @media screen and (max-width: 768px) {
        .chat-container{
          margin-bottom: 2rem !important;
          
         
        }
        .chat-workspace {
          /* Styles specific to mobile devices */
          font-size: 5px; /* Scale down the font size */
          /* Add other styles to scale down content as needed */
          min-width: fit-content !important;
        }
        .guests-contacts .chat-container{
          /* Your regular styles for larger devices */
          font-size: 5px;
          padding: 4px;
          margin: 1px;
          min-width: fit-content !important;
        }
        .guest-profil>img{
          max-width: 20px !important;
          max-height: 20px !important;
        }
        .guest-name>label{
          font-size: 10px !important;
        }
        .msg-date>label{
          font-size: 7px !important;
        }
        .emoji-icon>svg{
          max-width: 10px !important;
          max-height: 10px !important;
        }
        .contacts-title>label{
          font-size: 10px !important;
        }
        .settings-icon>svg{
          max-width: 10px !important;
          max-height: 10px !important;
        }
        .active-user-label>label{
          font-size: 5px !important;
        }
        .user-profile>img .user-profile{
          max-width: 15px !important;
          max-height: 15px !important;
        }
        .chat-msg-data>label{
          font-size: 10px !important;
        }
        .users-contacts{
          min-width: 150px !important;
          min-height: 150px !important;
          margin-right: -0.5rem;
         
        }
        .messages-workspace{
          min-width: 150px !important;
          min-height: 150px !important;
          /* margin-right: 15rem !important; */
        }
      }
