#searchInput {
    border: none;
    border-bottom: 1px solid #44599d;
    border-radius: 0px;
    padding: 0;
    width: 20vw;
}

.search_button {
    border: none;
    border-bottom: 1px solid #44599d;
    border-radius: 0px;
    padding: 0;
}

.option_link {
    padding-right: "20px";
    text-align: "center";
}

.icon {
    display: inline;
}

span {
    padding-left: 2px;
    padding-right: 10px;
}

@media (max-width: 1202px){

    span {
        padding-left: 10px;
    }

}

.unread_notifications {
    color: danger
}
